.sidebarFriendList{
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebarFriend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    gap: 10px;
}

.sidebarFriendImg{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}