.share{
    width: 100%;
    height: 170px;
    border-radius: 10px;
    box-shadow: 0px 4px 20px 0px #dbe0e9;

}

.shareWrapper{
    padding: 20px;
}

.shareTop{
    display: flex;
    align-items: center;
}

.shareProfileImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.shareInput{
    width: 100%;
    height: 40px;
    border-radius: 50px;
    padding-left: 20px;
    border: 1px solid #ddd;
}

.shareInput:focus{
    outline: none;
    border: 1px solid #0866ff;
    box-shadow: 0px 0px 0px 2px #0867ff4a;

}

.shareHr{
    margin: 20px;
}

.shareOptions{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.shareOption{
    display: flex;
    align-items: center;
    gap: 10px;
}

.shareIcon{
    font-size: 24px;
}

.shareButton{
    border: none;
    padding: 7px;
    border-radius: 5px;
    background-color: #0866ff;
    font-weight: 500;
    color: white;
    cursor: pointer;
}